body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

#navbar {
    height: 60px;
    background-color: #f25151;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#footer {
    height: 60px;
    background-color: #f25151;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#body {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#body {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
/* Image + Caption */
.image-container {
text-align: center;
}
.image-container img {
    width: 100%;
    color: #3c3a3a;
    border-radius: 5px;
    margin-bottom: 10px;
}
.caption {
    font-size: 14px;
    color: #3c3a3a;
    font-style: italic;
    margin: 5px 0;
}